doctype html
//[if lt IE 7]><html lang="en" class="no-js oldie lt-ie9 lt-ie8 lt-ie7"><![endif]
//[if IE 7]><html lang="en" class="no-js oldie lt-ie9 lt-ie8"><![endif]
//[if IE 8]><html lang="en" class="no-js oldie lt-ie9"><![endif]
//[if gt IE 8]><!
html(class='no-js')
    //<![endif]
    head
        include ../includes/head
    body
        include ../includes/header

        block content

        include ../includes/footer

        block footer-script
        script(src="js/plugins.js")
        script(src="js/main.js")