include mixins
- var mainMenuItems = []
- mainMenuItems.push({caption: "Портфолио", href: "#"})
- mainMenuItems.push({caption: "Обо мне", href: "#"})
- mainMenuItems.push({caption: "Контакты", href: "#"})
- var mainMenuIndexActive = 0

header#header
    .header-inner.container.clearfix
        .logo
            a(href="#")
                img(src="img/logo.png", height="54", alt="")
        nav.main-menu
            input#main-menu-show(type="checkbox")
            label(for="main-menu-show")
            mixin mainMenuList(mainMenuItems, mainMenuIndexActive)