.portfolio
    ul.portfolio-list
        - for (var x = 0; x < 10; x++)
            li.portfolio-item
                a(href="portfolio-one.html")
                    .box
                        .caption
                            h3 Lore ipsum fff
                    img(src="img/portfolio/thumb/1.jpg", alt="")
