.DS_Store
.idea

/assets/fonts/*
/assets/img/*

/public/*

/static/*
!/static/favicon.ico
!/static/js/
!/static/js/vendor/
!/static/js/vendor/**
/static/js/vendor/**.DS_Store

/source/*
/source/psd/*
!/source/psd/sprites.psd
!/source/psd/
!/source/jpg/
/source/jpg/*
!/source/style/
/source/style/*